<div class="container">
    <app-title></app-title>
    <app-entrada-bin></app-entrada-bin>
    <app-entrada-dec></app-entrada-dec>

</div>
<app-footer></app-footer>

<style>
    .container {
        min-height: 80vh;
        background: rgb(0,5,93);
        background: linear-gradient(0deg, #08aba5 0%, #097965 39%, #08aba5 100%);
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
</style>